streamlit

langchain
langchain-core
langchain-community
langchain-google-genai

google-generativeai

tavily-python

beautifulsoup4
requests
lxml

python-dotenv
aiohttp
pandas
tiktoken
rich
tenacity
orjson
pydantic
html5lib
